{% extends 'ClientBundle::base.html.twig' %}

{% block body %}

    <a href="{{absolute_url(asset(''))}}app_dev.php/client/list" class="btn btn-success ">retour</a>


    {{ form(form) }}

{% endblock %}