{% extends 'base.html.twig' %}
{% block content %}
    <form>
        <table>
            <td>Etat: <input type="text" name="etat"></td>
            <td><input type="submit" value="Rechercher"></td>
        </table>
    </form>
{% endblock %}