{% extends "ClientBundle::base.html.twig" %}

{% block title %}ClientBundle:Events:update{% endblock %}

{% block body %}


<h1>Welcome to the Events:update page</h1>

    {{ form(form) }}

    {{ form_errors(form) }}

{% endblock %}
