<center>
    <h1>Congratulations are in order {{ app.user.username }}!</h1>
    <h2>You sponsorfile has been viewed by the administration team and we've deemed it valid</h2>
    <h3>You are now officially a {{app.user.role}} on our site!</h3>
</center>