{% extends 'base.html.twig' %}

{% block title %}ClientBundle:Commentaires:update{% endblock %}

{% block content %}
<h1>Welcome to the Commentaires:update page</h1>

    {{ form(form) }}

    {{ form_errors(form) }}

{% endblock %}
