{% extends 'base.html.twig' %}

{% block content %}
<section >
    <div >
        <div >
            <h1><span>ACCESS DENIED</span></h1>
            <p ><b>you cannot access this URL:{{ url }}</b> </p>
            <a href="{{ path('locataire_homepage') }}"><b>Return</b></a>
        </div>
    </div>
    <
</section>

{% endblock %}
{% block footer %}
    <div></div>
{% endblock %}