{% extends 'Bbase.html.twig' %}

{% block body %}
<section id="intro">
    <div class="intro-container wow fadeIn">
        <div class="section-header">
            <h1><span>The venue is already booked</span></h1>
            <p class="mb-4 pb-0"><b>please choose another date</b> </p>
            <a href="{{ path('ulocal_show',{'idLoc':local.idLoc}) }}"><b>Return</b></a>
        </div>
    </div>
    <
</section>

{% endblock %}
{% block footer %}
    <div></div>
{% endblock %}