{% extends 'base.html.twig' %}

{% block content %}
<section>
    <div>
        <div>
            <h1><span>You need to be registred</span></h1>
            <p class="mb-4 pb-0"><b>you cannot access this URL:{{ url }}</b> </p>
            <a href="{{ path('locataire_homepage') }}"><b>Return</b></a>
        </div>
    </div>
    <
</section>

{% endblock %}
{% block footer %}
    <div></div>
{% endblock %}